$primaryColor: #00447c;
$worningColor: #ff4003;
$inputBorderColor: #e1e1e1;
$placeholderColor: #939393;
$labelColor: #828282;
$sectionLineColor: #a1a1a1;
$fontWeightSemiBold: 600;
$fontWeightRegular: 400;
$labelColor: #828282;
$formSubtitleColor: #4a4a4a;
$tableBorderColor: #d6e2f5;
$searcherInputBackgroundColor: #F2F4F8;
$searcherBorderColor:#F2F4F8;
$searcherItemFocuseColor: #F4F7FB;
$tableFontColor: #4F4F4F;
$euroPriceFontColor: #4A4A4A;